* {
    box-sizing: border-box;
}

body {
    background-image: url("https://user-images.githubusercontent.com/30896388/168069577-2f570d08-61d3-49d8-b7dd-c4b9192aaf68.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-size: 100% 100%;
}
.logo {
    height: 60px;
}

li {
    display: inline-block;
    float: right;
    color: white;   
    padding: .5em;
    text-decoration: none;
}

nav {
    background-color: black;
}

h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
    padding: 110px;
}

p {
    font-family: Georgia, cursive;
    font-size: 20px;
    padding: 05px;
    margin: 20px;
}